{% extends 'base.html.twig' %}
{% block body %}
  <div id="app" class="sm:mt-0 px-6">
    <div class="md:grid md:grid-cols-6 md:gap-6 md:grid-rows-1 md:mt-5">
      <div class="md:mt-0 md:col-start-1 col-end-4">
        <p class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" style="">Informacion del ticket</p>
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-2">
                <label for="nombre" class="block text-sm font-medium text-gray-700 bold">Cliente:</label>
                <p class="font-bold">{{ ticket.getFkClient.getNameClient }}</p>
              </div>
              <div class="col-span-1">
                <label for="email" class="block text-sm font-medium text-gray-700 bold">No.ticket:</label>
                <p class="font-bold">{{ ticket.getId }}</p>
              </div>
              <div class="col-span-3">
                <label for="domicilio" class="block text-sm font-medium text-gray-700 bold">Tipo de Problema:</label>
                <p class="font-bold">{{ ticket.typeTicket }}</p>
              </div>
              <div class="col-span-6">
                <label for="telefono" class="block text-sm font-medium text-gray-700 bold">Descripcion:</label>
                <p class="font-bold">{{ ticket.getDescTicket }}</p>
              </div>
              <div class="col-span-6">
                <label for="telefono" class="block text-sm font-medium text-gray-700 bold">Direccion:</label>
                <p class="font-bold">{{ ticket.getService.getFkAddress.getNameAddress}}</p>
              </div>
              <div class="col-span-6">
                <label for="sitios" class="block text-sm font-medium text-gray-700 bold">Estado del ticket</label>
                <select id="estado" name="estado" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option value="Abierto" {% if ticket.getStatusTicket == "Abierto" %}selected{% endif%} >Abierto</option>
                  <option value="Nuevo" {% if ticket.getStatusTicket == "Nuevo" %}selected{% endif%}>Nuevo</option>
                  <option value="Resuelto" {% if ticket.getStatusTicket == "Resuelto" %}selected{% endif%}>Resuelto</option>
                </select>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label for="paquete" class="block text-sm font-medium text-gray-700 bold">Fecha Registrada</label>
                <p class="font-bold">{{ ticket.getDateTicket|date('Y-m-d')  }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md:col-start-4 md:col-end-7">
        <p class="block uppercase tracking-wide text-gray-700 text-s font-bold mb-2" style="">Comentarios</p>
        <div class="grid bg-white shadow overflow-hidden sm:rounded-md gap-6 mb-8 p-5" >
          <div class="min-w-0 dark:bg-gray-800 md:overflow-y-auto md:h-72 " id="comentarios" style="height: 400px; padding-right: 10px;">
            {% if ticket.getComentarios|length == 0 %}
              No hay comentarios
            {% else %}
              {% for c in response %}
                {{ c.comment|markdown_to_html }}
              {% endfor %}
            {% endif %}
          </div>
          <div>
            <form  id="registrar" class="registrar">
              <div>
              <textarea type="text" id="comentario" name="c" class="min-w-full resize-none p-6 rounded-lg bg-gray-200" placeholder="Agregar comentario..."></textarea>
              </div>
              <div class="custom-file">
                <input type="file" name="i" class="custom-file-input" id="chooseFile">
                <button id="comentar" type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  Comentar
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
      $( document ).ready(function() {
          document.getElementById("estado").onchange = function(e){
              $.sweetModal.confirm('¿Seguro de cambiar el estado?', function() {
                  $.ajax({
                      type: "POST",
                      url: '{{ path('changeStatus', {id: ticket.getId}) }}',
                      data: {
                          st :$("#estado").val()
                      },
                      dataType: 'json',
                      success: function(s){
                          if(s.status === true){
                              $.sweetModal(s.msg);
                          }

                      }
                  })
              }, function() {
                  let newOptions = {
                      "Abierto" : "Abierto",
                      "Nuevo" : "Nuevo",
                      "Resuelto" : "Resuelto"
                  };
                  let $el = $("#estado");
                  $el.empty();
                  $.each(newOptions, function(key,value) {
                      if(value === "{{ ticket.getStatusTicket }}"){
                          $el.append($("<option></option>").attr({
                              "value": value,
                              "selected": "selected"
                          }).text(key));
                      }else{
                          $el.append($("<option></option>").attr("value", value).text(key));
                      }
                  });
              });
          }
        $( "#registrar" ).submit(function( event ) {
            event.preventDefault();
            $.ajax({
              type: 'POST',
              url: "{{ path('newComment', { id: ticket.getId }) }}",
              processData: false,
              contentType: false,
              data: new FormData(this),
              dataType: 'json',
              success: function(response) {
                if(response.status === true){
                  $("#comentarios").append(response.html);
                  $("#comentario").val("");
                  $("#chooseFile").val("");

                }else{
                  $.sweetModal(response.msg);
                }
              },
            });
          })
      });

      function deleteComment(id){
        $.sweetModal.confirm('¿Seguro de eliminar este comentario?', function() {
          $.ajax({
            type: "POST",
            url: '/tickets/deletecomment/'+id,
            dataType: 'json',
            success: function(s){
              if(s.status === true){
                $("#comment"+id).remove();
                $.sweetModal(s.msg);
              }
            }
          })
        }, function() {

        })
      }
  </script>
{% endblock %}