<script>


    $('#form-servicespecific').on("submit",function(event) {
        dataform = new FormData(this);
        event.preventDefault();
        $.sweetModal.confirm('Confirmacion', '¿Seguro de la edicion?', function() {
            $.ajax({
                type: 'POST',
                url: '{{ path('editServiceSpecific',  {idService: idService, inventory: inventory})}}',
                processData: false,
                contentType: false,
                data: dataform,
                dataType: 'json',
                success: function(response) {
                    if(response.status == true){

                        $(".sweet-modal-close-link:last-child").click();
                        $.sweetModal({
                            content: 'Editado con exito.',
                            icon: $.sweetModal.ICON_SUCCESS,

                        });
                    }else if(response.status == false){

                    }
                },
            });
        }, function() {
            $.sweetModal({
                content: 'Se ha negado los cambios',
                icon: $.sweetModal.ICON_ERROR,
            });

        });

    });
</script>
</script>

<div class="w-full max-w-lg" style="margin:0 auto">
{{  form_start(form, {'attr': {'class': 'bg-white  rounded px-8 pt-6 pb-8 mb-4', 'id': 'form-servicespecific'}}) }}
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3" style="margin-bottom:7px">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Paquete
      </label>
      {{ form_row(form.fkPacket, {'value': packet ,  'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'}}) }}
    </div>
    <div class="w-full px-3" style="margin-bottom:7px">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        MAC
      </label>
      {{ form_row(form.fkInventary, {'value': mac,    'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'}}) }}
    </div>
    <div class="w-full px-3">
       {{ form_row(form.submit, { 'label':'Actualizar' , 'attr': {'class': 'w-full px-3 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded'}}) }}
    </div>
  </div>
{{ form_end(form) }}
</div>