<script>
$('#form-address').on("submit",function(event) {
    dataform = new FormData(this);
    event.preventDefault();
    $.sweetModal.confirm('Confirmacion', '¿Seguro de la edicion?', function() {
      $.ajax({
          type: 'POST',
          url: '{{ path('editClientesAddress',  {id: id})}}',
          processData: false,
          contentType: false,
          data: dataform,
          dataType: 'json',
          success: function(response) {
            if(response.status == true){
             
              $.sweetModal({
                  content: response.msg,
                  icon: $.sweetModal.ICON_SUCCESS, 
                  
              });
            }
          },
      }); 
    }, function() {
      $.sweetModal({
        content: 'Se ha negado los cambios',
        icon: $.sweetModal.ICON_ERROR,
      });
      
    });
  
});
</script>

<div class="w-full max-w-lg" style="margin:0 auto">
{{ form_start(form, {'attr': {'class': 'bg-white  rounded px-8 pt-6 pb-8 mb-4', 'id': 'form-address'}}) }}

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3" style="margin-bottom:7px">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Domicilio
      </label>
      {{ form_row(form.name_address, { 'value': address , 'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'}}) }}
    </div> 
    <div class="w-full px-3" style="margin-bottom:10px">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        Sitio conectado
      </label>
      {{ form_row(form.fkZone, { 'value': idzona, 'attr': {'class': 'appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500'}}) }}
    </div> 
    
    <div class="w-full px-3">
       {{ form_row(form.submit_address, { 'label':'Actualizar' , 'attr': {'class': 'w-full px-3 shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded'}}) }}
    </div>
  </div>
{{ form_end(form) }}
</div>